In [4]:
import numpy as np

## 1. DataTypes & Attributes

In [5]:
# NumPy's main datatype is ndarray (n-dimensional array)

In [6]:
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [7]:
a2 =  np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
a2

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [8]:
a3 = np.array([
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]],
    [[28, 29, 30], [31, 32, 33], [34, 35, 36]],
])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]]])

In [9]:
a1.shape, a2.shape, a3.shape  # dimensions of the array as a tuple

((3,), (4, 3), (4, 3, 3))

In [10]:
a1.ndim, a2.ndim, a3.ndim # number of dimensions of the array

(1, 2, 3)

In [11]:
type(a1), type(a2), type(a3) # type of the array

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [12]:
a1.dtype, a2.dtype, a3.dtype #  data type of the elements in the array

(dtype('int64'), dtype('int64'), dtype('int64'))

In [13]:
a1.size, a2.size, a3.size # total number of elements in the array

(3, 12, 36)

In [14]:
# other numpy attributes

# itemsize - returns the size in bytes of each element in the array
# nbytes - returns the total number of bytes used by the array
# T - returns the transpose of the array
# real - returns the real part of the array
# imag - returns the imaginary part of the array
# flat - returns a 1-D iterator over the array
# flatten - returns a copy of the array flattened into a 1-D array

In [15]:
# Create a DataFrame from a NumpPy array
import pandas as pd

df = pd.DataFrame(a2)
df

ModuleNotFoundError: No module named 'pandas'

## 2. Creating Arrays

In [16]:
ones_array = np.ones((3, 5), dtype=int) # create an array filled with ones
ones_array

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [17]:
zeros_array = np.zeros((3, 5), dtype=int) # create an array filled with zeroes
zeros_array

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [18]:
range_array = np.arange(0, 10, 2) # sequence[start:stop:step]
# Return evenly spaced values within a given interval
range_array

array([0, 2, 4, 6, 8])

In [19]:
random_int_array = np.random.randint(0, 10, size=(3, 5), dtype=int)
# Return random integers from `low` (inclusive) to `high` (exclusive).
random_int_array

array([[3, 1, 8, 1, 1],
       [2, 7, 0, 6, 6],
       [6, 2, 9, 5, 7]])

In [20]:
random_array = np.random.random((5, 3)) # Return random floats in the half-open interval [0.0, 1.0).
random_array

array([[0.01992672, 0.02396631, 0.12168463],
       [0.5269296 , 0.88114989, 0.07406828],
       [0.17283235, 0.4180198 , 0.25900974],
       [0.2509482 , 0.36211732, 0.3808684 ],
       [0.61833217, 0.90924734, 0.09071886]])

In [21]:
rand_array = np.random.rand(5, 3) # Random values in a given shape.
rand_array

array([[0.22008234, 0.18873876, 0.67849614],
       [0.88185973, 0.36720812, 0.46746513],
       [0.245624  , 0.54080839, 0.00269442],
       [0.06972074, 0.42546361, 0.6421459 ],
       [0.29053341, 0.07574603, 0.48261381]])

In [22]:
# pseudorandom number generator (PRNG) that generates a deterministic sequence of seemingly random numbers based on an initial seed value.
# While the sequence appears random, it is not truly random and is reproducible given the same seed value.
np.random.seed(777)

np.random.rand(5, 3)

array([[0.15266373, 0.30235661, 0.06203641],
       [0.45986034, 0.83525338, 0.92699705],
       [0.72698898, 0.76849622, 0.26920507],
       [0.64402929, 0.09337326, 0.07968589],
       [0.58961375, 0.34334054, 0.98887615]])

In [23]:
np.unique(random_int_array) # Find the unique elements of an array.

array([0, 1, 2, 3, 5, 6, 7, 8, 9])

## 3. Viewing Arrays and Matrices

In [24]:
a1

array([1, 2, 3])

In [25]:
a2

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [26]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]]])

In [27]:
a3.shape, a3.ndim

((4, 3, 3), 3)

In [28]:
a3[:3, :3, ::-1] # sequence[start:stop:step] (list slicing)
# [::-1] is the slicing syntax

array([[[ 3,  2,  1],
        [ 6,  5,  4],
        [ 9,  8,  7]],

       [[12, 11, 10],
        [15, 14, 13],
        [18, 17, 16]],

       [[21, 20, 19],
        [24, 23, 22],
        [27, 26, 25]]])

In [29]:
# 4 dimensions

a4 = np.random.randint(10, size=(2, 3, 4, 5))
a4

array([[[[2, 2, 7, 4, 8],
         [6, 2, 7, 8, 0],
         [8, 3, 2, 0, 3],
         [3, 4, 0, 6, 5]],

        [[7, 5, 5, 8, 1],
         [4, 7, 4, 4, 0],
         [9, 4, 5, 0, 5],
         [8, 0, 5, 7, 9]],

        [[6, 4, 7, 1, 8],
         [9, 0, 5, 6, 2],
         [3, 5, 7, 8, 4],
         [7, 7, 9, 3, 7]]],


       [[[7, 0, 3, 3, 6],
         [4, 3, 7, 0, 4],
         [8, 7, 1, 7, 8],
         [5, 7, 4, 5, 7]],

        [[7, 4, 3, 3, 6],
         [3, 3, 6, 6, 8],
         [6, 8, 6, 2, 1],
         [2, 3, 0, 1, 3]],

        [[6, 3, 0, 4, 2],
         [5, 8, 0, 5, 4],
         [6, 3, 1, 3, 9],
         [0, 2, 3, 2, 6]]]])

In [30]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [31]:
# Get the first 4 numbers of the last most inner array (multiple index search)
a4[0][0][0][0:4]
# a4[0][0][0] index searching
# [0:4] is slicing the list to do the requirement

array([2, 2, 7, 4])

In [32]:
# Get the first 4 numbers of the last most inner array (single index search via list slicing)

a4[:1, :1, :1, :4]
#   2,  3,  4,  5 -> 4 dimensions

# Shape = (2, 3, 4, 5)

# more verbose syntax
# a4[0:1:1, 0:1:1, 0:1:1, 0:4:1]
# sequence[start:stop:step, start:stop:step, start:stop:step, start:stop:step]

array([[[[2, 2, 7, 4]]]])

## Manipulating & Comparing Arrays

### Arithmetic

In [33]:
a1

array([1, 2, 3])

In [34]:
a1.shape, a1.ndim

((3,), 1)

In [35]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [36]:
a1 + ones

array([2., 3., 4.])

In [37]:
a1 - ones

array([0., 1., 2.])

In [38]:
a1 * ones

array([1., 2., 3.])

In [39]:
a2

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [40]:
a2.shape, a2.ndim

((4, 3), 2)

In [41]:
a1 + a2

array([[ 2,  4,  6],
       [ 5,  7,  9],
       [ 8, 10, 12],
       [11, 13, 15]])

In [42]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]]])

In [43]:
a3.shape, a3.ndim

((4, 3, 3), 3)

In [55]:
# Calculating a2 + a3 operation will raise an error 
# ValueError: operands could not be broadcast together with shapes (4,3) (4,3,3)

# wW need to reshape the a3 DataFrame so that it becomes compatible with a2

a3 = a3.reshape(3, 4, 3) # needs further for how shape works in higher dimensions

# Calculate sum
a2 + a3

array([[[ 2,  4,  6],
        [ 8, 10, 12],
        [14, 16, 18],
        [20, 22, 24]],

       [[14, 16, 18],
        [20, 22, 24],
        [26, 28, 30],
        [32, 34, 36]],

       [[26, 28, 30],
        [32, 34, 36],
        [38, 40, 42],
        [44, 46, 48]]])